---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %} A budding developer in the field of computer science, who inspires to be be leading developer.{% endif %}</p>
          <p class="author_subtitle">I studying computer science and engineering in GGSIPU(Delhi). My interest lies in to solve puzzles in mathematics ,reading facts,mathduko.To read book in field of management,bussiness,banking,technology.Apart from reading my favourite hoobies is to spend time in gym,playing chess,carram,running and many more.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
